@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgb(105, 225, 255), rgb(78, 125, 255));
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr, 1fr, 1fr;
  grid-template-areas:
    'header header header'
    '. submitBook .'
    'booksWrapper booksWrapper booksWrapper';
}

#header {
  grid-area: header;
  text-align: center;
}

#submitBook {
  grid-area: submitBook;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#booksWrapper {
  grid-area: booksWrapper;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#btnSubmit {
  cursor: pointer;
  margin: 15px auto;
  height: 25px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 15px auto;
}

.bookCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(130, 255, 192);
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  word-break: break-all;
  box-shadow: 0px 10px 5px 0px rgb(0, 0, 0, 0.3);
}

.bookCard:hover {
  transition: all 0.3s ease-out;
  background-color: #00f0c8;
}

.buttonDiv {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btnRead,
.btnDel {
  width: 50px;
}
